<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>listeOprettelse</title>
    <link rel="stylesheet" href="css/style-ListeOprettelse.css">
</head>
<body>
<div class="getInfo">
    <form method="post">
        <label for="titel">Titel</label>
        <input type="text" id="titel">
        <label for="beskrivelse">Beskrivelse</label>
        <input type="text" id="beskrivelse">
        <label for="pris">Pris</label>
        <input type="text" id="pris">


    </form>
</div>

</body>
</html>